@page "/companies"
@inject IHttpService _service
@inject NavigationManager _navigation

<PageTitle>Companies</PageTitle>

<h3>Companies</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in _service.Companies)
        {
            <tr>
                <td>@company.Name</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowDetails(company.Id))"><i class="oi oi-pencil"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary" @onclick="CreateCompany">Create new company</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await _service.GetCompanies();
    }

    private void ShowDetails(int id)
    {
        _navigation.NavigateTo($"company/{id}");
    }

    private void CreateCompany()
    {
        _navigation.NavigateTo($"company");
    }
}
